body
{
    max-width: 1280px;
    height: 800px;
    background-image: url("../img/background 1.png");
    background-size: 1512px;
    margin: 0 auto;
}

header
{
    display: flex;
    justify-content: space-between;
}


/*
.link:hover .first-part,
.link:hover .second-part

{
    color:#F26522;
    cursor: pointer;
}
*/

.logo-name
{
    display: flex;
    width: 140px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 65px;
    padding-top: 20px;
}
.link
{
    text-decoration: none;
}
.first-part
{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 100% */
    padding-top: 80px;
    margin: 0;

}
.second-part
{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 100% */
    margin: 0;

}
.change-img
{
    width: 53px;
    height: 47px;
    flex-shrink: 0;

}
.change-img .change img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.change .change-img:nth-of-type(2) {
    display: none;
}
.change:hover .change-img:nth-of-type(1) {
    display: none;
}

.change:hover .change-img:nth-of-type(2) {
    display: block;
}

.link:hover .logo-name .first-part,
.link:hover .logo-name .second-part,
.link:hover .change {
    color: #F26522; /* Змінити колір тексту і зображення при наведенні */
    cursor: pointer;
}

.container-contact
{
    display: flex;
    width: 219px;
    height: 21px;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.tel
{   color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    padding-top: 10px;
    padding-left: 70px;
    margin: 5px;
    text-decoration: none;
    white-space: nowrap;

}
.email:hover
{
    color: #F26522;
}

.tel:hover
{
    color: #F26522;
}
.email
{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    padding-top: 50px;
    margin: 5px;
    text-decoration: none;
}
.phone-number
{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    padding-left: 80px;
    white-space: nowrap;
}
main
{
    width: 1030px;
    height: 560px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;
   /* padding-left:150px ;*/
    padding-top: 120px;
    margin: 0 auto;
}
.row
{
    display: flex;
    flex-basis: 33.33%;
    justify-content: center;
}
.pic
{
    margin: 20px;
    width: 400px;
    height: 280px;
    transition: filter 0.3s;
}
.text
{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}

.pic-link {
    text-decoration: none;
    color: #333;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.block:hover .pic-link,
.block:hover .text
 {
    color: #F26522;
}
.overlay {


    position: absolute;
    bottom: 80px;
    left: 22px;
    width: 400px; /* Задаємо ширину плажки */
    height: 70px; /* Задаємо довжину плажки */
    background: #F26522;
    opacity: 0;
    transition: opacity 0.3s, height 0.3s;
}
.pic-link:hover .overlay {
    opacity: 1;
    height: 70px /* Висота плажки збільшується при наведенні */
}
.section-one {

    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 100% */
    margin-left: 10px;
}
.section-two
{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    margin-left: 10px;
    margin-top: 0;
}
.sections
{

    margin-left: 260px;
    margin-top: -40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.block .sections::after
{
    content: url("../img/Vector 1.png");
    padding-left: 5px ;
}
.text-footer
{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    margin-top: 130px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}